/* Universal*/

:root {
    --title-text: darkblue;
}

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
}

/* Header */
nav a {
    color: var(--title-text);
    text-decoration: none;
    font-size: 25px;
    display: flex;
    margin: 25px;
    text-align: center;
    top: 50%;
}

nav {
    display: flex;
    background-color: silver;
    justify-content: flex-end;
    height: fit-content;
    margin: -9px;
}

h1 {
    color: var(--title-text);
    font-size: 50px; 
    margin: -5px -9px -9px 50px;
    padding: 20px;
}

.title-header {
    background-image: url(../images/white-brick.jpeg);
    background-size: auto;
    background-position: center top;
    height: 260px;
    margin: -9px;
    position: relative;
}

#profile-pic {
    width: 160px;
    position: absolute;
    right: 20px;
    bottom: 15px;
}

/* Main */

.container {
    display: flex;
    position: relative;
}

h2 {
    font-size: 30px;
    color: var(--title-text);
    margin: 25px -9px -9px 50px;
    padding: 20px;
}

.about-box p {
    display: flex;
    margin: 50px 30px 30px 100px;
    justify-content: center;
    font-size: 20px;
    color: darkslategrey;
}

.works-box {
    height: 250px;
    padding: 10px;
    margin: 20px 30px 20px 250px;
    display: flex; 
    position: relative; 
    border: 2px solid var(--title-text);
}

.small-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    margin: 20px 50px 50px 250px; 
}

.smaller-works {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 150px;
    width: 290px;
    border: 2px solid var(--title-text);
    justify-content: space-around;
}

.contact-list {
    display: flex;
    margin: 30px 50px;
    padding: 30px;
}

.contact-list li {
    margin-left: 30px;
    list-style: none;
}

.contact-list a {
    text-decoration: none;
    color: var(--title-text);
    font-size: 17px;
}

/*footer */
footer {
    padding: 30px;
    margin: -9px;
    text-align: center;
    margin-top: auto;
    color: var(--title-text);
    font-size: 15px;
    background-color: silver;
}

/* Media queries */

@media screen and (max-width: 768px) {

    .small-container,
    .container, 
    nav {
      flex-direction: column;
    }